---
layout: default.hbs
subject: Branded transaction email example
---
<span class="preheader">This is preheader text. Some clients will show this text as a preview.</span>
<div class="header">
  <table>
    <tr>
      <td class="align-center">
        <a href="https://staging.tettra.co"><img src="https://tettra.co/wp-content/uploads/2016/09/TETTRA_LOGO-1.png" height="50" alt="Mailgun"></a>
      </td>
    </tr>
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <h2>2 new pages created yesterday</h2>

            <br>

            <h3><a href="https://staging.tettra.co/teams/tettra/pages/investor-update-november-2016">Investor Update - November 2016</a></h3>
            <p>21 hours ago in Company Updates by Andy</p>

            <br>

            <h3><a href="https://staging.tettra.co/teams/tettra/pages/investor-update-december-2016">Investor Update - December 2016</a></h3>
            <p>21 hours ago in Company Updates by Andy</p>

            {{> divider }}

            <h2>3 pages updated yesterday</h2>

            <br>

            <h3><a href="https://staging.tettra.co/teams/tettra/pages/billing-quirks/revisions/156552">Billing Quirks</a></h3>
            <p>18 hours ago in Engineering by Phil</p>

            <br>

            <h3><a href="https://staging.tettra.co/teams/tettra/pages/draftjs-editor-prototype-resources/revisions/156542">Draft.JS Editor Prototype + Resources</a></h3>
            <p>21 hours ago in Engineering by Oscar</p>

            <br>

            <h3><a href="https://staging.tettra.co/teams/tettra/pages/slack-app-submission/revisions/156512">Slack App Submission</a></h3>
            <p>22 hours ago in Engineering by Shauni</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div class="footer">
  <table>
    <tr>
      <td class="align-center">
        <p>unsubscribe</p>
      </td>
    </tr>
  </table>
</div>
